
/* Couleur de fond du site */
body{
	background-color:#EAEAEA;
}

/* Trait horizontal */
hr{
	width:50%;
	color:white;
}

/* Titres */

h1,h2{
	font-family:'Trebuchet MS', Arial, sans-serif;
}

#titre1{
	color:white;
	text-align:center;
}
#titre2{
	color:white;
	text-align:center;
}
#titre3{
	color:white;
	text-align:left;
}
#titre4{
	color:black;
	text-align:left;
}
#titre5{
	color:black;
	text-align:left;
}


/* Partie Header Image qui bouge */
header{
	background-image: url(dogbanner.jpg);
	background-repeat: no-repeat;
//	background-position:50% 50%;
	width:100%;
	height:300%;
}

/* Menu  */

menu
{
	display:inline-block;
	text-align:right;
}
menu ul
{
	text-align:center;
	list-style-type:none;
}
menu li
{
	display:inline-block;
	margin-right:15px;
}
menu a
{
	font-size:1.3em;
	color:white;
	padding-bottom:3px;
	text-decoration:none;
} 
 
/* Partie Section carrée */
#cadre{
	box-shadow: 0 4px 4px #1c1a19;
	background-color:white;
	width:30%;
	height:200px;
	text-align:left;
	margin-left:18%;
}

aside{
	width:40%;
	display:inline-block;
	vertical-align:top;

}


/* Partie Footer */
#pied{
	clear:both;
	background-color:#FFFFFF;
	width:100%;
}

nav
{
	display:inline;
	text-align:right;
}
nav ul
{
	text-align:right;
	list-style-type:none;
}
nav li
{
	display:inline;
	margin-right:15px;
}
nav a
{
	font-size:1.3em;
	color:black;
	padding-bottom:3px;
	text-decoration:none;
} 

#contact{

	width:30%;
	height:200px;
	background-color:#EAEAEA;
	text-align:left;
	margin-left:18%;
}
